body {font-family: 'Poppins', sans-serif;}
h1 {font-size: 50px;}
h1 span {color:coral;}
section { display: flex;}
.half { width: 50%;
        padding-left: 15px;}
.half img { width:80%}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, yellow);
    padding: 10px 40px;
    border-radius: 10%;
}
.top-banner { background-image: url(images\top-banner.png);}